
@{
    ViewBag.Title = "PKP Mental Health Recovery System";
    Layout = "~/Views/Shared/_LayoutHaoKeat.cshtml";
}
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>WELCOME</h2>
                <hr />
            </div>
        </div>
    </div>
</div>
<br />
<!-- Left Image -->

        <div class="row">
            <div class="col-md-6">
                <img src="~/Scripts/images/index.jpeg" style="width:90%" height="400" alt="">
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>What is PKP Mental Health Recovery System ?</h4>
                    <p>
                        PKP Mental Health Recovery System is an information system to gathering, analysis, record data and support service related to mental health issues affected by people during PKP.<br>
                        <br>This system deliver a public environment for user to seek help from other people, doctor or expert and for expert, doctor or people that have experience to help the victim. All the possible solution will be recorded and user can trace his/her mental health progression by completed each useful task from other people.
                    </p>
                </div>
            </div>
        </div>


<!-- Right Image -->
<section class="right-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Our Objectives and Significance</h4>
                    <p>
                        We had developed a community platform and  automated system that will be able to record, store, retrieve and generate statistics of user’s progress, to allow user to manage their own profile, live chat with counselor, mental health activities and to allow user to keep track of their progress with mental health activity list that are held by staff UTeM.<br>
                        <br>This project significance are to build a system that can provide an option to user who might needed help to recover from mental health issues regarding depression and anxiety due to Covid-19 and P.K.P, this project also will help expert and doctor to identify user who might have mental health issue easily and the system will give advantage and feature to normal user, patient and helper for monitoring mental health progression on daily basics
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Scripts/images/index2.jpeg" alt="">
            </div>
        </div>
    </div>
</section>


















