<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c20cce2a-00cd-4bcc-99f1-179bec98b4c3/resourcegroups/Workshop2/providers/Microsoft.Web/sites/MentalHealthRecoverySystem</ResourceId>
    <ResourceGroup>Workshop2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mentalhealthrecoverysystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mentalhealthrecoverysystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MentalHealthRecoverySystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MentalHealthRecoverySystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PKPMentalHealthRecoveryEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Models.ModelMHRS.csdl|res://*/Models.ModelMHRS.ssdl|res://*/Models.ModelMHRS.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=group12workshop.database.windows.net;initial catalog=PKPMentalHealthRecovery;persist security info=True;user id=Group12;password=#Groupworkshop;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MHRS.Models.PKPMentalHealthRecoveryEntities, MHRS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PKPMentalHealthRecoveryEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelMHRS.csdl|res://*/Models.ModelMHRS.ssdl|res://*/Models.ModelMHRS.msl;provider=System.Data.SqlClient;provider connection string="metadata=res://*/Models.ModelMHRS.csdl|res://*/Models.ModelMHRS.ssdl|res://*/Models.ModelMHRS.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=group12workshop.database.windows.net;initial catalog=PKPMentalHealthRecovery;persist security info=True;user id=Group12;password=#Groupworkshop;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>